@import "/styles/constants.css";

#main-content {
    display: grid;
    grid-template-columns: auto minmax(0, 1fr);
}

#word-list {
    border: 2px solid red;
    
    padding: 5px 1vw;
    text-align: center;
}

/* Container for the title, card, and options */
#card-container {
    max-height: clamp(500px, 80vh, 700px);
    width: auto;
    min-width: 700px;
    display: grid;
    grid-template-rows: auto 1fr auto; /* Middle (flashcard) biggest */
    margin: 0 6vw;
    grid-column: span 1 / -1; 
    position: sticky;
    top: 0;
}

#card-container #category-title {
    text-align: center;
    align-self: center;
    text-transform: capitalize;
    color: var(--font-color);

    font-size: clamp(36px, 3vw, 48px);
}

#card-container #card {
    display: block;
    width: auto;
    
    background-color: var(--button-color);
}

/* Container for all the options */
#card-container #card-options {
    display: flex;

    justify-content: center;
    margin: 4vh 0 6vh 0;
}

#card-container optgroup, option, p {
    flex: 0;
    border: 2px solid gray;
    margin: auto;

    place-items: center;
    text-align: center;
}

#card-container #card-navigation {
    border: 2px solid black;
    display: flex;
}