@import url("/styles/constants.css");

#welcome-container {
    text-align: center;
    margin-top: 60px;
}

#welcome-container h1 {
    font-weight: 600;
    font-size: 36px;
}

#welcome-container p {
    font-weight: 300;
    font-size: 18px;
    max-width: 600px;
    margin: 0 auto;
}

#start-learning-button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 25px;
}

#feature-container-top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 75%;

    justify-self: center;
    place-items: center;

    margin-top: 2vh;
}

#feature-container-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;

    place-items: center;
    margin-top: 8vh;
}

.feature-card {
    height: clamp(150px, 25vh, 200px);
    width: clamp(200px, 20vw, 300px);
    margin: 0;

    background-color: var(--gray-bg-color);
    text-decoration: none;
    border: var(--main-border);
    border-radius: var(--border-radius);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.feature-card:hover {
    background-color: var(--light-button-hovered-color);
}

.feature-card img {
    width: 30px;
    height: 30px;
}

.feature-card h3 {
    color: var(--font-color);
    font-size: 22px !important;
    margin: 15px 0;
}

.feature-card p {
    color: var(--font-color);
    font-size: 14px !important;
    opacity: .8;
    margin: 0 2vw !important;
}

#about-us {
    width: calc(100vw - var(--side-nav-width) - var(--scrollbar-width));
    min-height: 250px;
    margin-top: 100px;

    background-color: var(--dark-button-hovered-color);

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;

}

#photo-container {
    display: flex;

    justify-content: center;
    align-items: center;
}

#photo-container img {
  height: 175px;
  width: 200px;
  object-fit: cover;
  object-position: center top;
  border-radius: 20px;
}

#description {
    margin: auto 0;
    font-size: 18px;
    line-height: 24px;
}

#contact-us {
    display: flex;
    flex-direction: column;

    margin: 0 15px;
}

#contact-us h3 {
    margin-top: 40px;
    text-align: center;
}

#contact-us .email {
    display: flex;
    justify-content: space-between;
}