@import "/styles/constants.css";

/* PROFILE BANNER */

#profile-banner {
    background: #5BA9AA;
    background: radial-gradient(circle, var(--dark-button-hovered-color) 27%, var(--trim-color) 100%);
    color: white;

    width: 100%;
    height: 18vh;
    min-height: fit-content;

    display: flex;
    align-items: center;
}

#profile-banner #profile-icon-container {
    width: 70px;
    height: 70px;
    margin: 3vh 2vw;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--button-color);
    border: 3px solid white;
    border-radius: 50%;
}

#profile-banner #profile-icon-container p {
    font-size: 30px;
    color: var(--trim-color);
    font-family: 'Segoe UI';
    font-weight: 700;
    margin: 0;
}

#profile-banner #username {
    font-weight: 700;
    font-size: 32px;

    margin: 0;
}

#profile-banner #acct-buttons {
    display:flex;
    flex-direction:row;
    gap: 6px;
}

#acct-buttons #logout-button {
    margin-top: 5px;
    border-radius: 8px;
    padding: 5px 8px;

    font-size: 14px;
    font-weight: 550;
    background-color: var(--main-bg-color);
}

#acct-buttons #logout-button:hover {
    background-color: var(--light-button-hovered-color);
}

#acct-buttons #settings-button {
    margin-top: 5px;
    border-radius: 8px;
    padding: 5px 8px;

    font-size: 14px;
    font-weight: 550;

    box-shadow: var(--custom-box-shadow);
    text-decoration: none;
    color: var(--font-color);
    background-color: var(--main-bg-color);
    border: var(--main-border);
}

#acct-buttons #settings-button:hover {
    background-color: var(--light-button-hovered-color);
}

#acct-buttons #settings-button:active {
    transform: scale(var(--button-pressed-scale));
}

#profile-banner #streak-display {
    margin: 0 4vw 0 auto;
    font-size: 20px;
    font-weight: 600;

    background-color: #99CACB;
    border-radius: 50px;
    padding: 1.5vh 2vw;
}

#profile-info {
    width: 50%;
    justify-self: center;
}

.section-title {
    display: block;

    font-size: 20px;
    margin: 4vh 0 3vh 0;
}

/* ACHIEVMENTS */

#badges {
    margin-left: 15px;
    
    display: flex;
    overflow-x: scroll;
    gap: 24px;
}

#badges::-webkit-scrollbar {
    display: none;
}

.achievement-badge {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;
    width: 88px;
    text-align: center;
    font-size: 14px;
}

.achievement-badge .badge-icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: var(--button-color);
    border: var(--main-border);
    box-shadow: var(--custom-box-shadow);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
}

/* CONTINUE */

#continue-section {
    margin: 0 0 0 10px;
    
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.continue-container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 16px;
    background: var(--gray-bg-color);
    border: var(--main-border);
    border-radius: var(--border-radius);
    box-shadow: var(--custom-box-shadow);
    padding: 16px;
}

.continue-container img {
    height: 25px;
    width: 25px;
}

.continue-info h3 {
    margin: 0 0 4px;
    font-size: 15px;
    color: var(--font-color);
}

.continue-info p {
    margin: 0 0 8px 0;
    font-size: 12px;
    opacity: .8;
}

.continue-button {
    text-decoration: none;
    color: var(--font-color);
    font-weight: 600;
    font-size: 13px;
    background: var(--button-color);
    border: var(--main-border);
    border-radius: 3.2px;
    box-shadow: var(--custom-box-shadow);
    padding: 8px 16px;
}

.continue-container .progress-bar-container {
    background-color: var(--main-bg-color);
    width: auto;
    height: 8px;
    border: var(--main-border);
    border-radius: var(--border-radius);
}

.continue-container .progress-bar-container .progress-bar {
    background: linear-gradient(to right, var(--dark-button-hovered-color), var(--trim-color));
    height: 100%;
    width: 70%;
    border-radius: var(--border-radius);    
}

/* FAVORITE SET */

#favorite-set-list {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    grid-template-rows: repeat(4, auto);
    gap: 5px 10px;

    margin: 0 0 50px 15px;
    overflow-x: scroll;
}

#favorite-set-list::-webkit-scrollbar {
    display: none;
}

.favorite-set {
    border: var(--main-border);
    border-radius: var(--border-radius);
    background: var(--gray-bg-color);

    height: fit-content;
    width: 22vw;
    min-width: 320px;
    padding: 10px 15px;

    font-weight: 400;

    display: flex;    
}

.set-name {
    margin: 0;
    text-decoration: none;
    color: var(--font-color);
}

.word-count {
    margin: 0;
    margin-left: auto;
    color: #006b6b;
}