@import "/styles/constants.css";

#word-bank-main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/***********************************************
*
* Top 20% of main: search bar area
* 
*************************************************/
#search-container {
    flex: 0 0 auto;
    height: 76.8px;
    width: 100%;
    border-bottom: 1.6px dashed var(--trim-color);

    display: flex;
    justify-content: center;
    align-items: center;
}

#search-container #search-bar {
    width: 50%;
    height: 50%;
    font-size: large;

    border: var(--main-border);
    border-radius: 3.2px;
}

#search-container #search-button {
    width: 15%;
    height: 50%;
    font-size: large;

    margin-left: 3%;
    background-color: var(--button-color);
    border: var(--main-border);
    border-radius: 3.2px;
}

#search-container #search-button:hover {
    background-color: var(--dark-button-hovered-color);
}

#search-container #search-button:active {
    transform: scale(var(--button-pressed-scale));
}

#search-container #reset-button {
    width: 15%;
    height: 50%;
    font-size: large;

    margin-left: 3%;
    background-color: var(--button-color);
    border: var(--main-border);
    border-radius: 3.2px;
}

#search-container #reset-button:hover {
    background-color: var(--dark-button-hovered-color);
}

#search-container #reset-button:active {
    transform: scale(var(--button-pressed-scale));
}

/***********************************************
*
* Bottom 80% of main: grid of category buttons 
* 
*************************************************/
#word-bank-main #word-choice-container {
    flex: 1;
    min-height: 0;
    width: 100%;
    background: var(--background-gradient);

    display: grid;
    grid-template-rows: auto 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;

    align-items: center;
    justify-items: center;
}

#word-bank-main #word-choice-container #title {
    text-align: center;
    align-self: center;
}

#word-bank-main #word-choice-container #title-header {
    /* Span across the whole grid */
    grid-column-start: 1;
    grid-column-end: 4;

    margin: 50px 0 50px 0;
}

#word-bank-main #word-choice-container .page-link {
    /* Resets default link styling */
    text-decoration: none;
    color: var(--font-color);
    font-size: clamp(14.4px, 3vw, 28.8px); /* Scales with viewport width */
    font-weight: 550;
    box-shadow: var(--custom-box-shadow);
    border: var(--main-border);

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 80%;
    height: 80%;
    background-color: var(--button-color);
    border-radius: 6.4px;
    padding: 0 4px;
}

#word-bank-main #word-choice-container .page-link:hover {
    background-color: var(--dark-button-hovered-color);
}

#word-bank-main #word-choice-container .page-link:active {
    transform: scale(var(--button-pressed-scale));
}

/* Then title */
#title {
    text-align: center;
    align-self: center;
    text-transform: capitalize;

    font-size: clamp(38.4px, 4vw, 51.2px);
    margin: 5vh 0 0 0;
}

/* Rest of display: words */
#word-display {
    height: 100%;
    width: calc(100vw - var(--side-nav-width) - 13.6px);
    overflow-x: scroll;
    overflow-y: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1 / 4;
    grid-row: 2 / 5;

    align-items: stretch;
    justify-items: stretch;
}

#word-display::-webkit-scrollbar {
    display: none;
}

#word-display .flex-word-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    
    align-items: stretch;
    justify-content: stretch;
    text-align: center;
}

#word-display .flex-word-container .word-category-container {
    background-color: var(--trim-color);
    margin: 6vh 3vw 2vh 3vw;
}

#word-display .flex-word-container .word-category {
    text-decoration: 2.4px underline var(--font-color);
      
    padding: 0 .5cap;
    margin: -.2cap auto;
    color: var(--font-color);

    width: fit-content;
    font-size: clamp(19.2px, 3vw, 28.8px);

    background-color: var(--main-bg-color);
}

#word-display .flex-word-container .word-subcategory-container {
    border-bottom: 1.6px solid var(--font-color);
    margin: .5vh 3vw;
}

#word-display .flex-word-container .word-subcategory {     
    padding: 0;
    margin: 0;
    color: var(--font-color);

    width: fit-content;
    font-size: clamp(16px, 3vw, 25.6px);

    background-color: var(--main-bg-color);
}

#word-display .flex-word-container .words {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin:  0 3vw 2vh 3vw;
    column-gap: 5vw;

    text-align: left;
}

#word-display .flex-word-container .words p {
    font-weight: 900;
    font-size: clamp(16px, 2vw, 19.2px);
    color: var(--font-color);

    margin: 1vh 0;
}

/* Style for language toggle button */
#lang-toggle {
    width: auto;
    background-color: var(--button-color);
    border: 1.6px solid var(--trim-color);
    border-radius: 3.2px;
    
    /* Centers within main area */
    display: block;
    margin: 6.4px auto 0 auto;
    padding: 4.8px 6.4px;
    font-size: 12.8px;
    color: var(--font-color);
    font-weight: 700;
}

#lang-toggle:hover {
    background-color: var(--dark-button-hovered-color);
}

#lang-toggle:active {
    transform: scale(var(--button-pressed-scale));
}