#main-content {
    display: flex;
    flex-direction: column;
}

#practice-title {
    text-align: center;
    margin: 4vh auto 4vh auto;
}

#practice-container {
    border: var(--main-border);
    border-radius: var(--border-radius);

    height: 80vh;
    width: 70%;
    margin: 3vh auto 2vh auto;
    background-color: var(--gray-bg-color);
    box-shadow: var(--custom-box-shadow);

    display: flex;
    flex-direction: column;
}

#streak-container {
    display: flex;
    flex-direction: row;
    height: 20%;
    width: 100%;
    justify-content: space-between;
}

.streak {
    text-align: center;
    align-content: center;
    color: var(--font-color);
}

#curr-streak {
    margin-left: 3vw;
    margin-top: 3vh;
}

#max-streak {
    margin-right: 3vw;
    margin-top: 3vh;
}

#word-container {
    height: 60%;
    text-align: center;
    color: var(--font-color);
}

#word {
    height: 80%;
    margin: 0;
    align-content: center;
    font-size: 50px;
}

#word-title {
    height: 20%;
    margin: 0;
}

#word-input {
    margin: 0 8vw 0 8vw;
    border: var(--main-border);
    border-radius: 8px;
    width: max;
    height: 36px;
    font-size: 20px;
    color: var(--font-color);
}

#word-options {
    display: flex;
    flex-direction: row;

    margin: 0 8vw 0 8vw;
    height: 20%;
}

#word-options button {
    background-color: var(--main-bg-color);
    border: var(--main-border);

    display: flex;
    justify-content: center;
    
    padding: var(--flashcard-option-button-padding);
    margin: 1vh 10px auto 0;
    border-radius: 3px;
}

#word-options button img {
    width: var(--flashcard-option-button-size);
    height: auto;
}

#word-options button:hover {
    background-color: var(--light-button-hovered-color);
}

#word-options button:active {
    transform: scale(var(--button-pressed-scale));
}

#spaced-repetition-button {
    margin-left: 0 !important;
}

#fullscreen-button {
    margin: 1vh 0 auto auto !important;
}