@import "/styles/constants.css";

#main-content {
    display: flex;
    flex-direction: column;
}

#category-title {
    color: var(--font-color);
    font-size: 28px;
}

#practice-title {
    text-align: center;
    margin: 4vh auto 4vh auto;
}

#practice-container {
    border: var(--main-border);
    border-radius: var(--border-radius);

    height: 80vh;
    width: 70%;
    max-width: 80vw;
    min-height: 400px;
    margin: 3vh auto 2vh auto;
    background-color: var(--gray-bg-color);
    box-shadow: var(--custom-box-shadow);

    display: flex;
    flex-direction: column;
}

#streak-container {
    display: flex;
    flex-direction: row;
    height: 20%;
    width: 100%;
    justify-content: space-between;
}

.streak {
    text-align: center;
    align-content: center;
    color: var(--font-color);
    width: 20%;
}

#curr-streak {
    margin-left: 1vw;
    margin-top: 3vh;
}

#max-streak {
    margin-right: 1vw;
    margin-top: 3vh;
}

#word-container {
    height: 60%;
    text-align: center;
    color: var(--font-color);
}

#word-container #word {
    height: 70%;
    margin: 0 2vw;
    align-content: center;
    font-size: clamp(30px, 4vw, 50px);
}

#word-container #word-title {
    height: 30%;
    margin: 0;
}

#error-popup {
    margin: 0 auto 4vh auto;
    padding: .5vh 3vw;

    background-color: var(--error-bg-color);
    border-radius: 8px;
    border: 2px solid var(--error-border-color);
}

#error-popup p {
    margin: 0;
    font-size: 18px;

    color: white;
}

#word-input {
    margin: 0 8vw;
    border: var(--main-border);
    border-radius: 8px 8px 0 0;
    height: 36px;
    font-size: 20px;
    color: var(--font-color);
}

#word-options {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 8fr 2fr 1fr;

    margin: 0 8vw;
    height: 20%;
}

#word-options button {
    background-color: var(--main-bg-color);
    border: var(--main-border);

    display: flex;
    justify-content: center;
    
    padding: var(--flashcard-option-button-padding);
    margin: 1vh 0 auto 0;
    justify-self: start;
    border-radius: 3px;
    width: fit-content;
}

#word-options button img {
    width: var(--flashcard-option-button-size);
    height: auto;
}

#word-options button:hover {
    background-color: var(--light-button-hovered-color);
}

#word-options button:active {
    transform: scale(var(--button-pressed-scale));
}

#word-options #spaced-repetition-button {
    margin-left: 0 !important;
}

#word-options #swap-language-button {
    justify-self: end !important;
}

#word-options #fullscreen-button {
    justify-self: end !important;
}

#word-options #num-progress {
    margin: 2vh auto auto auto;
    color: var(--font-color);
    font-size: 18px;
    font-weight: 550;
}

/* Container and object for progress bar */
#progress-bar-container {
    background-color: var(--main-bg-color);
    width: auto;
    margin: 0 8vw;
    height: 8px;
    border: var(--main-border);
    border-top: 0;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}

#progress-bar-container #progress-bar {
    background: linear-gradient(to right, var(--button-color), var(--dark-button-hovered-color));
    height: 100%;
    width: 0%;
    border-radius: 0 0 var(--border-radius) var(--border-radius);    
}